@model ECTemplate.WebUI.Models.NavBarViewModel

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Custom/Navigation.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom/navigation.js"></script>
</head>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
                <span>Open Sidebar</span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My account<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        @if (Request.IsAuthenticated)
                        {
                            if (Model.User.UserType == "Admin")
                            {
                                <li>
                                    @Html.ActionLink("Admin Tool", "Index", "Admin",
                                        new { returnUrl = Request.Url.PathAndQuery }, null)
                                </li>
                            }

                            <li>
                                @Html.ActionLink("User Setting", "Edit", "Account",
                                    new { returnUrl = Request.Url.PathAndQuery }, null)
                            </li>

                            <li class="divider"></li>
                        }

                        @if (!Request.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Sign In", "Login", "Account",
                                    new { returnUrl = Request.Url.PathAndQuery }, null)
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Sign Out", "Logout", "Account",
                                    new { returnUrl = Request.Url.PathAndQuery }, null)
                            </li>
                        }
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("My cart " + @Model.Cart.Lines.Sum(x => x.Quantity) + " item(s)",
                        "Index", "Cart")
                </li>
            </ul>
        </div>
    </div>
</nav>